{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block body %}

{% if get_flashed_messages() %}
<header>
    <div class="alert alert-primary mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="contact">
<br>
<h1 class="contact_header">Message me!</h1>
<br>
<pre class="purpose">
    I created this website with the intent of making a difference for the Texas community. Food insecurity is a major issue in the state of
    Texas and I hope my website can be a resource for people to come and find their nearest food bank. Whether their purpose may be to obtain
    food or are looking for ways to volunteer to distribute food, my website provides the necessary means to get in contact with the food bank
    that covers their area.
</pre>
<br>
<p>Always looking to improve! If you have any critique or opinions regarding the website, please feel free to send me a message!</p>

<form action="/contact" method="post">
    <textarea name="message" placeholder="Enter message here..." rows="8" cols="100"></textarea>

    <div>
    <input class="contact_submit" type="submit" value="Send!">
    </div>
</form>
</div>

{% endblock %}