{% extends "layout.html" %}

{% block title %}
      Texas Food Banks
{% endblock %}

{% block body %}

<!--North Texas Food Banks-->

<br>
<br>

<h1 class="location" >North Texas</h1>
<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/high_plains_food_bank.jpg" alt="High Plains Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="1">
          <input type="submit" value=" High Plains Food Bank ">
        </form>
      </p>
        <p>Address: 815 Ross St, Amarillo, TX 79102</p>
        <p>Phone: (806) 374-8562</p>
    </div>

    <div class="col-4">
      <img src="/static/south_plains_food_bank.jpg" alt="South Plains Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="2">
          <input type="submit" value=" South Plains Food Bank ">
        </form>
      </p>
        <p>Address: 5605 M.L.K. Jr Blvd, Lubbock, TX 79404</p>
        <p>Phone: (806) 763-3003</p>
    </div>

    <div class="col-4">
      <img src="/static/wichita_falls_area_food_bank.jpg" alt="Wichita Falls Area Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="3">
          <input type="submit" value=" Wichita Falls Area Food Bank ">
        </form>
      </p>
        <p>Address: 1230 Midwestern Pkwy, Wichita Falls, TX 76302</p>
        <p>Phone: (940) 766-2322</p>
    </div>

  </div>
</div>

<br>
<br>

<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/tarrant_area_food_bank.jpg" alt="Tarrant Area Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="4">
          <input type="submit" value=" Tarrant Area Food Bank ">
        </form>
      </p>
        <p>Address: 2600 Cullen St, Fort Worth, TX 76107</p>
        <p>Phone: (817) 857-7100</p>
    </div>

    <div class="col-4">
      <img src="/static/north_texas_food_bank.jpg" alt="North Texas Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="5">
          <input type="submit" value=" North Texas Food Bank ">
        </form>
      </p>
        <p>Address: 3677 Mapleshade Ln, Plano, TX 75075</p>
        <p>Phone: (214) 330-1396</p>
    </div>

  </div>
</div>

<!--Central Texas Food Banks-->

<h1 class="location">Central Texas</h1>
<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/food_bank_of_west_central_texas.jpg" alt="Food Bank of West Central Texas">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="6">
          <input type="submit" value=" Food Bank of West Central Texas ">
        </form>
      </p>
        <p>Address: 5505 N 1st St, Abilene, TX 79603</p>
        <p>Phone: (325) 695-6311</p>
    </div>

    <div class="col-4">
      <img src="/static/concho_valley_regional_food_bank.jpg" alt="Concho Valley Regional Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="7">
          <input type="submit" value=" Concho Valley Regional Food Bank ">
        </form>
      </p>
        <p>Address: 1313 S Hill St, San Angelo, TX 76903</p>
        <p>Phone: (325) 655-3231</p>
    </div>

  </div>
</div>

<br>
<br>

<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/san_antonio_food_bank.jpg" alt="San Antonio Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="8">
          <input type="submit" value=" San Antonio Food Bank ">
        </form>
      </p>
        <p>Address: 5200 Enrique M. Barrera Pkwy, San Antonio, TX 78227</p>
        <p>Phone: (210) 431-8326</p>
    </div>

    <div class="col-4">
      <img src="/static/central_texas_food_bank.jpg" alt="Central Texas Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="9">
          <input type="submit" value=" Central Texas Food Bank ">
        </form>
      </p>
        <p>Address: 6500 Metropolis Dr, Austin, TX 78744</p>
        <p>Phone: (512) 282-2111</p>
    </div>

  </div>
</div>

<!--East Texas Food Banks-->

<h1 class="location" >East Texas</h1>
<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/east_texas_food_bank.jpg" alt="East Texas Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="10">
          <input type="submit" value=" East Texas Food Bank ">
        </form>
      </p>
        <p>Address: 3201 Robertson Rd, Tyler, TX 75701</p>
        <p>Phone: (903) 597-3663</p>
    </div>

    <div class="col-4">
      <img src="/static/southeast_texas_food_bank.jpg" alt="Southeast Texas Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="11">
          <input type="submit" value=" Southeast Texas Food Bank ">
        </form>
      </p>
        <p>Address: 3845 S M L King Jr Pkwy, Beaumont, TX 77705</p>
        <p>Phone: (409) 839-8777</p>
    </div>

    <div class="col-4">
      <img src="/static/brazos_valley_food_bank.jpg" alt="Brazos Valley Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="12">
          <input type="submit" value=" Brazos Valley Food Bank ">
        </form>
      </p>
        <p>Address: 1501 Independence Ave, Bryan, TX 77803</p>
        <p>Phone: (979) 779-3663</p>
    </div>
  </div>

  <br>
  <br>

  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/houston_food_bank.jpg" alt="Houston Food Bank">
      <p>
      <form action="/bank" method="post">
        <input name="id" hidden value="13">
        <input type="submit" value=" Houston Food Bank ">
      </form>
      </p>
        <p>Address: 535 Portwall St, Houston, TX 77029</p>
        <p>Phone: (713) 223-3700</p>
    </div>

    <div class="col-4">
      <img src="/static/montgomery_county_food_bank.jpg" alt="Montgomery County Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="14">
          <input type="submit" value=" Montgomery County Food Bank ">
        </form>
      </p>
        <p>Address: 1 Food For Life Way, Conroe, TX 77385</p>
        <p>Phone: (936) 271-8800</p>
    </div>

    <div class="col-4">
      <img src="/static/galveston_county_food_bank.jpg" alt="Galveston County Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="15">
          <input type="submit" value=" Galveston County Food Bank ">
        </form>
      </p>
        <p>Address: 624 4th Ave N, Texas City, TX 77590</p>
        <p>Phone: (409) 945-4232</p>
    </div>

  </div>
</div>

<!--West Texas Food Banks-->

<br>

<h1 class="location">West Texas</h1>
<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/el_pasoans_fighting_hunger_food_bank.jpg" alt="El Pasoans Fighting Hunger Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="16">
          <input type="submit" value=" El Pasoans Fighting Hunger Food Bank ">
        </form>
      </p>
        <p>Address: 9541 Plaza Cir, El Paso, TX 79927</p>
        <p>Phone: (915) 298-0353</p>
    </div>

    <div class="col-4">
      <img src="/static/west_texas_food_bank.jpg" alt="West Texas Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="17">
          <input type="submit" value=" West Texas Food Bank ">
        </form>
      </p>
        <p>Address: 411 S. Pagewood Ave. Odessa, TX 79761</p>
        <p>Phone: (432) 580-6333</p>
    </div>

  </div>
</div>

<!--South Texas Food Banks-->

<h1 class="location">South Texas</h1>
<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/food_bank_of_the_golden_crescent.jpg" alt="Food Bank of the Golden Crescent">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="18">
          <input type="submit" value=" Food Bank of the Golden Crescent ">
        </form>
      </p>
        <p>Address: 801 S Laurent St, Victoria, TX 77901</p>
        <p>Phone: (361) 578-0591</p>
    </div>

    <div class="col-4">
      <img src="/static/coastal_bend_food_bank.jpg" alt="Coastal Bend Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="19">
          <input type="submit" value=" Coastal Bend Food Bank ">
        </form>
      </p>
        <p>Address: 826 Krill St, Corpus Christi, TX 78408</p>
        <p>Phone: (361) 887-6291</p>
    </div>

  </div>
</div>

<br>
<br>

<div class="container text-center">
  <div class="row justify-content-evenly">

    <div class="col-4">
      <img src="/static/south_texas_food_bank.jpg" alt="South Texas Food Bank">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="20">
          <input type="submit" value=" South Texas Food Bank ">
        </form>
      </p>
        <p>Address: 2121 Jefferson St, Laredo, TX 78040</p>
        <p>Phone: (956) 726-3120</p>
    </div>

    <div class="col-4">
      <img src="/static/food_bank_of_the_rio_grande_valley.jpg" alt="Food Bank of the Rio Grande Valley">
      <p>
        <form action="/bank" method="post">
          <input name="id" hidden value="21">
          <input type="submit" value=" Food Bank of the Rio Grande Valley ">
        </form>
      </p>
        <p>Address: 724 N Cage Blvd, Pharr, TX 78577</p>
        <p>Phone: (956) 682-8101</p>
    </div>

  </div>
</div>

<br>
<br>

<button onclick="topFunction()" id="top" title="Go to top">Back to Top</button>

{% endblock %}